<article class="sixteen columns">
  <div class="card">
    <img src="/cartes/<%= @carte.url %>-900.jpg" alt="<%= @carte.titre %>" />
    <h2><%= @carte.titre %></h2>
    <a href="/carte/<%= @avant %>" class="prev" title="Carte précédente"></a>
    <a href="/carte/<%= @apres %>" class="next" title="Carte suivante"></a>
  </div>
</article>