<% @cartes.each do |carte| %>
<article class="two-or-three columns">
  <a class="card" href="/carte/<%= carte.url %>">
    <img src="/cartes/<%= carte.url %>.jpg" alt="<%= carte.titre %>" width="280px" height="200px" />
    <p><%= carte.titre %></p>
  </a>
</article>
<% end %>
<p><%= pagination(@nb_pages) %></p>