<p><%= admin_link("new", "new") %></p>
<% @cartes.each do |carte| %>
<article class="two-or-three columns">
  <a class="card" href="/carte/<%= carte.url %>">
    <img src="/cartes/<%= carte.url %>.jpg" alt="<%= carte.titre %>" width="280px" height="200px" />
    <p><%= carte.titre %></p>
  </a>
  <p>
    <%= admin_link("edit", "edit", carte.id) %>
    <%= admin_link("del", "delete", carte.id) %>
  </p>
</article>
<% end %>
<div class="sixteen columns">
<%= erb :_pagination %>
</div>